.preloader-wrap{
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: #009FFF;
	background-image: linear-gradient(160deg, #009FFF, #ec2F4B);
	color: #fff;
	font-size: 70px;
	z-index: 99999;
}

.preloader{
	width: 60px;
	height: 60px;

	background: #002;
	border: 2px solid #fff8;
	border-radius: 50%;
	animation: preloader 1.5s linear infinite alternate;
}


@keyframes preloader{
	from{
		width: 60px;
		height: 60px;
	}
	to{
		width: 100px;
		height: 100px;
	}
}