*, *::before, *::after{
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{min-height:100vh;line-height:1;font-family: sans-serif;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,center,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:none;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
blockquote,q{quotes:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration: none;color:inherit;outline:none}
input,textarea{border:none;outline:none}
button{outline:none}
